.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all 200ms;
    outline-offset: 2rem;

    &--p1 {
      top: -2rem;
      left: 0px;
    }

    &--p2 {
      top: 10rem;
      left: 20%;
    }

    &--p3 {
      top: 2rem;
      right: 0px;
    }
    &:hover {
      z-index: 9;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-dark, 0.5);
      outline: 1.5rem solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
