.u-center-text {
  text-align: center;
}

.u-margin-bottom-xs {
  margin-bottom: 1rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem;
}
